Homework3/cmake-build-debug/CMakeFiles/feature_tests.c
Homework3/cmake-build-debug/CMakeFiles/feature_tests.bin
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/a.exe
Homework3/cmake-build-debug/CMakeCache.txt
Homework3/.idea/misc.xml
Homework3/.idea/Homework3.iml
Homework3/cmake-build-debug/CMakeFiles/feature_tests.cxx
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CMakeSystem.cmake
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
Homework3/.idea/workspace.xml
Homework3/.idea/modules.xml
Homework3/cmake-build-debug/CMakeFiles/clion-environment.txt
Homework3/cmake-build-debug/CMakeFiles/CMakeOutput.log
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CMakeRCCompiler.cmake
Homework3/CMakeLists.txt
Homework3/cmake-build-debug/CMakeFiles/CMakeError.log
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.o
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CMakeCCompiler.cmake
Homework3/cmake-build-debug/CMakeFiles/cmake.check_cache
Homework3/cmake-build-debug/CMakeFiles/clion-log.txt
Homework3/cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.o
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/a.exe
Homework4/cmake-build-debug/CMakeCache.txt
Homework4/CMakeLists.txt
Homework4/.idea/modules.xml
Homework4/.idea/misc.xml
Homework4/.idea/Homework4.iml
Homework4/cmake-build-debug/CMakeFiles/feature_tests.bin
Homework4/cmake-build-debug/CMakeFiles/cmake.check_cache
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
Homework4/.idea/workspace.xml
Homework4/cmake-build-debug/CMakeFiles/feature_tests.cxx
Homework4/cmake-build-debug/CMakeFiles/feature_tests.c
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CMakeSystem.cmake
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CMakeCCompiler.cmake
Homework4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Homework4/cmake-build-debug/CMakeFiles/CMakeError.log
Homework4/cmake-build-debug/CMakeFiles/3.8.2/CMakeRCCompiler.cmake
Homework4/cmake-build-debug/CMakeFiles/clion-environment.txt
Homework4/cmake-build-debug/CMakeFiles/clion-log.txt
